@use "./modules/mixins.scss" as m;

* {
    margin: 0;
    padding: calc(8px + 1.5625vw);
    font-family: 'Courier New', Courier, monospace;
    font-size: calc(15px + 0.390625vw);
}

html {
    padding: 0;
}

body {
    padding: 0;
    background-color: #ffb703;
    color: #023047;
}

.nav {
    height: 0;
    position: sticky;
    top: 0;
    padding: 0;
    &__ul {
        @include m.flex(row, space-around, center);
        list-style-type: none;
        &__li {
            &__link {
                text-decoration: none;
                color: #023047;
                padding: 0;
            }
        }
    }
}

.section {
    height: 100vh;
    padding: 0;
    @include m.flex(column, center, center);
    &__heading {
        font-size: calc(35px + 0.390625vw);
    }
}

.home-section {
    &__header {
        &__main-heading {
            font-size: calc(40px + 0.390625vw);
            text-align: center;
        }
        &__subheading {
            font-size: calc(20px + 0.390625vw);
            text-align: center;
            font-style: italic;
        }
    }
}

main {
    padding: 0;
}

.about-section {
    &__div {
        @include m.flex();
        @include m.xs-device {
            @include m.flex(column);
        }
        &__text {
            text-align: center;
        }
    }
    &__img {
        border-radius: 50%;
    }
}



.footer {
    height: 10vh;
}


