@use "./modules/mixins.scss" as m;

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.nav {
    &--main {
        height: 10vh;
        position: sticky;
        top: 0;
        &__ul {
            height: 100%;
            @include m.flex(row, space-around, center);
            list-style-type: none;
            background-color: #90e0ef;
            &__li {
                &__link {
                    text-decoration: none;
                    color: black;
                }
            }
            @include m.xs-device {
                flex-wrap:inherit;
                &__li {
                    // TODO: dodgy solution for small screens?
                    padding: 3vw;
                }
            }
        }
    }
}

.header {
    height: 100vh;
    @include m.flex(column);
    &__main-heading {
        margin-bottom: 5vh;
        padding-right: 20vw;
    }
    &__subheading {
        padding-left: 20vw;
    }
}

.section {
    height: 100vh;
    @include m.flex(column, space-around, center);
    &__heading {
        padding-right: 20vw;
    }
}



.footer {
    height: 10vh;
}


