@use "./modules/mixins.scss" as m;

* {
    margin: 0;
    // Matthew James Taylor's responsive padding
    padding: calc(8px + 1.5625vw);
    font-family: 'Courier New', Courier, monospace;
    // Matthew James Taylor's responsive font size
    font-size: calc(15px + 0.390625vw);
}

html {
    padding: 0;
    background-image: url(./background.png);
}

body {
    padding: 0;
}

.nav {
    &--main {
        height: 5vh;
        position: sticky;
        top: 0;
        padding: 0;
        &__ul {
            height: 100%;
            @include m.flex(row, space-around, center);
            list-style-type: none;
            // background-color: #90e0ef;
            &__li {
                &__link {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}

.header {
    height: 100vh;
    @include m.flex(column);
    &__main-heading {
        font-size: calc(40px + 0.390625vw);
        padding-right: 20vw;
        @include m.xs-device {
            padding: calc(8px + 1.5625vw);
        }
    }
    &__subheading {
        font-size: calc(20px + 0.390625vw);
        padding-left: 20vw;
        font-style: italic;
        @include m.xs-device {
            padding: calc(8px + 1.5625vw);
        }
    }
}

.section {
    height: 100vh;
    @include m.flex(column, center, center);
    &__heading {
        font-size: calc(35px + 0.390625vw);
    }
    &__text {
        text-align: center;
    }
}

.about-section {
    &__div {
        @include m.flex();
        @include m.xs-device {
            @include m.flex(column);
        }
    }
    &__img {
        border-radius: 50%;
    }
}



.footer {
    height: 10vh;
}


