* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  font-weight: bold;
  background-color: #06d6a0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
  font-size: 2rem;
}
.link:hover {
  transform: scale(1.5);
}

.nav-header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 1rem;
}
@media only screen and (max-width: 599px) {
  .nav-header {
    padding: 0.75rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .nav-header {
    padding: 0.75rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .nav-header {
    padding: 1rem;
  }
}
.nav-header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.nav-header__nav__link {
  font-size: 1.5rem;
}
@media only screen and (max-width: 599px) {
  .nav-header__nav__link {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .nav-header__nav__link {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .nav-header__nav__link {
    font-size: 1.5rem;
  }
}

.down-link {
  font-size: 3rem;
}
@media only screen and (max-width: 599px) {
  .down-link {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .down-link {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .down-link {
    font-size: 1.8rem;
  }
}

.page-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-section--blue {
  background-color: #118ab2;
}
.page-section__container {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 599px) {
  .page-section__container {
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .page-section__container {
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-section__container {
    margin-bottom: 1.5rem;
  }
}
.page-section__heading {
  font-size: 4rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 599px) {
  .page-section__heading {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .page-section__heading {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-section__heading {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
}

.home-section__main-heading {
  font-size: 6rem;
  text-align: center;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 599px) {
  .home-section__main-heading {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .home-section__main-heading {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home-section__main-heading {
    font-size: 4.5rem;
    margin-bottom: 1.5rem;
  }
}
.home-section__subheading {
  font-size: 3rem;
  font-style: italic;
  text-align: center;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 599px) {
  .home-section__subheading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .home-section__subheading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home-section__subheading {
    font-size: 2.25rem;
    margin-bottom: 1.5rem;
  }
}

.about-section__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-section__div__text {
  font-size: 2rem;
  text-align: center;
  margin: 0 5rem;
}
@media only screen and (max-width: 599px) {
  .about-section__div__text {
    font-size: 1rem;
    margin: 0 3rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .about-section__div__text {
    font-size: 1rem;
    margin: 0 3rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-section__div__text {
    font-size: 1.5rem;
    margin: 0 4rem;
  }
}

.tech-skills-section__grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.tech-skills-section__grid__item {
  margin: 4rem;
}
@media only screen and (max-width: 599px) {
  .tech-skills-section__grid__item {
    margin: 1.5rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .tech-skills-section__grid__item {
    margin: 2rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tech-skills-section__grid__item {
    margin: 3rem;
  }
}
.tech-skills-section__grid__item__logo {
  font-size: 6rem;
}
@media only screen and (max-width: 599px) {
  .tech-skills-section__grid__item__logo {
    font-size: 2.25rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .tech-skills-section__grid__item__logo {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tech-skills-section__grid__item__logo {
    font-size: 4.5rem;
  }
}

.projects-section__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.projects-section__list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 2rem;
}
@media only screen and (max-width: 599px) {
  .projects-section__list__item {
    margin: 0.5rem 1rem;
  }
}
.projects-section__list__item--reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.projects-section__list__item__img {
  width: 25%;
  height: auto;
}
.projects-section__list__item__text {
  text-align: center;
  margin: 0 0.5rem;
  font-size: 1.2rem;
}
@media only screen and (max-width: 599px) {
  .projects-section__list__item__text {
    font-size: 0.7rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .projects-section__list__item__text {
    font-size: 0.85rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .projects-section__list__item__text {
    font-size: 0.95rem;
  }
}
.projects-section__list__item__links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.projects-section__list__item__links__link {
  margin: 0.4rem;
}

.contact-section__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contact-section__container__link {
  padding: 0.5rem 1rem;
  font-size: 3rem;
}
@media only screen and (max-width: 599px) {
  .contact-section__container__link {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .contact-section__container__link {
    font-size: 2.5rem;
  }
}

.copyright-footer__text {
  font-size: 0.8rem;
}

/*# sourceMappingURL=styles.css.map */
